$black-1: #0d0d0d;
$black-2: #1a1a1a;
$black-3: #262626;
$gray-1: #333333;
$gray-2: #414141;
$gray-3: #808080;
$white-1: #f2f2f2;
$white-2: #d9d9d9;
$blue-1: #1e6f9f;
$blue-2: #4ea8de;
$blue-3: #5e60ce;
$pink-1: #ff00ff;
$pink-2: #a602a6;
$green-1: #198754;
$red-1: #e25858;
$ff-primary: "Roboto", sans-serif;
$ff-secondary: "Inter", sans-serif;
$spacingSmall: 0.5rem;
$spacingMedium: 1rem;
$spacingBig: 2rem;
$radius: 8px;
$letter-spacing: 5px;
$transition: all 0.3s linear;
